In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Deakin/DataWrangling/week4/weather.csv')
df

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,01/01/2013 01:00
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,01/01/2013 02:00
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,01/01/2013 03:00
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,01/01/2013 04:00
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,01/01/2013 05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26125,LGA,2013,12,30,19,35.96,19.94,51.78,340.0,13.80936,15.891535,0.0,1017.1,10.0,30/12/2013 20:00
26126,LGA,2013,12,30,20,33.98,17.06,49.51,330.0,17.26170,19.864419,0.0,1018.8,10.0,30/12/2013 21:00
26127,LGA,2013,12,30,21,32.00,15.08,49.19,340.0,14.96014,17.215830,0.0,1019.5,10.0,30/12/2013 22:00
26128,LGA,2013,12,30,22,30.92,12.92,46.74,320.0,17.26170,19.864419,0.0,1019.9,10.0,30/12/2013 23:00
26129,LGA,2013,12,30,23,28.94,10.94,46.41,330.0,18.41248,21.188714,0.0,1020.9,10.0,31/12/2013 00:00

In [3]:
# Display the first few rows
print(df.head())

# Get a concise summary of the DataFrame
print(df.info())

# Display summary statistics
print(df.describe())

  origin  year  month  day  hour   temp   dewp  humid  wind_dir  wind_speed  \
0    EWR  2013      1    1     0  37.04  21.92  53.97     230.0    10.35702
1    EWR  2013      1    1     1  37.04  21.92  53.97     230.0    13.80936
2    EWR  2013      1    1     2  37.94  21.92  52.09     230.0    12.65858
3    EWR  2013      1    1     3  37.94  23.00  54.51     230.0    13.80936
4    EWR  2013      1    1     4  37.94  24.08  57.04     240.0    14.96014

   wind_gust  precip  pressure  visib         time_hour
0  11.918651     0.0    1013.9   10.0  01/01/2013 01:00
1  15.891535     0.0    1013.0   10.0  01/01/2013 02:00
2  14.567241     0.0    1012.6   10.0  01/01/2013 03:00
3  15.891535     0.0    1012.7   10.0  01/01/2013 04:00
4  17.215830     0.0    1012.8   10.0  01/01/2013 05:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26130 entries, 0 to 26129
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   origin      26130 non-null  object
 1   year        26130 non-null  int64
 2   month       26130 non-null  int64
 3   day         26130 non-null  int64
 4   hour        26130 non-null  int64
 5   temp        26129 non-null  float64
 6   dewp        26129 non-null  float64
 7   humid       26129 non-null  float64
 8   wind_dir    25712 non-null  float64
 9   wind_speed  26127 non-null  float64
 10  wind_gust   26127 non-null  float64
 11  precip      26130 non-null  float64
 12  pressure    23400 non-null  float64
 13  visib       26130 non-null  float64
 14  time_hour   26130 non-null  object
dtypes: float64(9), int64(4), object(2)
memory usage: 3.0+ MB
None
          year         month           day          hour          temp  \
count  26130.0  26130.000000  26130.000000  26130.000000  26129.000000
mean    2013.0      6.505741     15.679717     11.518408     55.203515
std        0.0      3.440031      8.765022      6.916581     17.782124
min     2013.0      1.000000      1.000000      0.000000     10.940000
25%     2013.0      4.000000      8.000000      6.000000     39.920000
50%     2013.0      7.000000     16.000000     12.000000     55.040000
75%     2013.0      9.000000     23.000000     18.000000     69.980000
max     2013.0     12.000000     31.000000     23.000000    100.040000

               dewp         humid      wind_dir    wind_speed     wind_gust  \
count  26129.000000  26129.000000  25712.000000  26127.000000  26127.000000
mean      41.385399     62.347322    198.066661     10.395868     11.963357
std       19.371649     19.196078    107.841624      8.521200      9.806027
min       -9.940000     12.740000      0.000000      0.000000      0.000000
25%       26.060000     46.990000    120.000000      6.904680      7.945768
50%       42.080000     61.660000    220.000000      9.206240     10.594357
75%       57.920000     78.620000    290.000000     13.809360     15.891535
max       78.080000    100.000000    360.000000   1048.360580   1206.432388

             precip      pressure         visib
count  26130.000000  23400.000000  26130.000000
mean       0.002726   1017.895175      9.204828
std        0.019665      7.422790      2.136306
min        0.000000    983.800000      0.000000
25%        0.000000   1012.900000     10.000000
50%        0.000000   1017.600000     10.000000
75%        0.000000   1023.000000     10.000000
max        1.180000   1042.100000     10.000000

In [12]:
# Replace the word "NA" with 0
df.replace("NA", 0, inplace=True)

In [13]:
# Optionally replace NaN values with 0
df.fillna(0, inplace=True)

In [14]:
# Verify the replacement
print("DataFrame after replacing 'NA' and NaN with 0:")
print(df.head())

DataFrame after replacing 'NA' and NaN with 0:
  origin  year  month  day  hour   temp   dewp  humid  wind_dir  wind_speed  \
0    EWR  2013      1    1     0  37.04  21.92  53.97     230.0    10.35702
1    EWR  2013      1    1     1  37.04  21.92  53.97     230.0    13.80936
2    EWR  2013      1    1     2  37.94  21.92  52.09     230.0    12.65858
3    EWR  2013      1    1     3  37.94  23.00  54.51     230.0    13.80936
4    EWR  2013      1    1     4  37.94  24.08  57.04     240.0    14.96014

   wind_gust  precip  pressure  visib         time_hour
0  11.918651     0.0    1013.9   10.0  01/01/2013 01:00
1  15.891535     0.0    1013.0   10.0  01/01/2013 02:00
2  14.567241     0.0    1012.6   10.0  01/01/2013 03:00
3  15.891535     0.0    1012.7   10.0  01/01/2013 04:00
4  17.215830     0.0    1012.8   10.0  01/01/2013 05:00

In [15]:
# Save the cleaned data if needed
df.to_csv('C:/Deakin/DataWrangling/week4/cleaned_dataset.csv', index=False)

In [11]:
df.dropna()